@font-face {
  font-family: 'Blender Pro Bold';
  src: url('./fonts/Blender-Pro-Bold.otf');
}
@font-face {
  font-family: 'Lato Light';
  src: url('./fonts/Lato-Light.ttf');
}
@font-face {
  font-family: 'Lato Regular';
  src: url('./fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: 'Lato Italic';
  src: url('./fonts/Lato-Italic.ttf');
}
@font-face {
  font-family: 'Lato Bold';
  src: url('./fonts/Lato-Bold.ttf');
}
@font-face {
  font-family: 'Montserrat Light';
  src: url('./fonts/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'Montserrat Medium';
  src: url('./fonts/Montserrat-Medium-Custom.ttf');
}
@font-face {
  font-family: 'Montserrat Regular';
  src: url('./fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat Bold';
  src: url('./fonts/Montserrat-Bold.ttf');
}

.blender-pro-bold {
  font-family: 'Blender Pro Bold' !important;
}

.lato-light {
  font-family: 'Lato Light' !important;
}

.lato-regular {
  font-family: 'Lato Regular' !important;
}

.lato-italic {
  font-family: 'Lato Italic';
}

.lato-bold {
  font-family: 'Lato Bold';
}

.montserrat-light {
  font-family: 'Montserrat Light' !important;
}

.montserrat-medium {
  font-family: 'Montserrat Medium' !important;
}

.montserrat-regular {
  font-family: 'Montserrat Regular' !important;
}

.montserrat-bold {
  font-family: 'Montserrat Bold';
}
